.hero-section {
    background-size: cover;
    background-position: center;
    height: 600px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.card i {
    color: #007bff;
}
